name: Colab Badges

on:
  push:
    paths:
      - '**/*.ipynb'
  pull_request:
    paths:
      - '**/*.ipynb'

jobs:
  badges:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Update Colab Badges
        uses: trsvchn/colab-badge-action@v4
        with:
          check: "all"
          update: true
          
      - name: Commit & Push changes
        if: github.ref != 'refs/heads/main' && github.event_name != 'pull_request'
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "docs: update colab badges"
